<div class="row clearfix">
	<div *ngFor="let pro of getProyecciones(); let i = index">
		<div class="row clearfix"  *ngIf="i % 3 == 0"></div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div class="list-group">
				<div class="list-group-item list-group-bg-indigo">
					<strong class="list-group-item-heading">{{pro.nombre}}</strong>	
					<input style="width: 4em;" class="pull-right" type="number" name="" *ngIf="i != 0">
					<span class="pull-right" *ngIf="i == 0">Carga actual</span>
				</div>
				<a *ngFor="let asignatura of pro.asignaturas" class="list-group-item">
					<i class="material-icons pull-left" *ngIf="i != 0">chevron_left</i>
					<span class="list-group-item-text">{{asignatura.abreviacion}}</span> 
					<i class="material-icons pull-right" *ngIf="i != 0">chevron_right</i>
				</a>
			</div>
		</div>
	</div>
</div>
