<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
	<!-- User Info -->
	<div class="user-info">
		<div class="image">
			<img src="{{imagenUrl}}" width="48" height="48" alt="User" />
		</div>
		<div class="info-container">
			<div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nombreUsuario}}</div>
			<div class="email">{{tipoUsuario}}</div>
			<div class="btn-group user-helper-dropdown">
				<i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
				<ul class="dropdown-menu pull-right">
					<li><a href="javascript:void(0);" (click)="goToProfile.emit()"><i class="material-icons">person</i>Perfil</a></li>
					<li role="seperator" class="divider"></li>
					<li><a href="javascript:void(0);" (click)="goToMessages.emit()"><i class="material-icons">message</i>Mensajes</a></li>
					<li role="seperator" class="divider"></li>
					<li><a href="javascript:void(0);" (click)="logout.emit()"><i class="material-icons">input</i>Cerrar sesión</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- #User Info -->
	<!-- Menu -->
	<div class="menu">
		<ul class="list">
			<li class="header">MEN&Uacute; PRINCIPAL</li>
			<li *ngFor="let route of routesMenu;" [ngClass]="{'active':route.active}">
				<a (click)="onRoute(route.route)" style="cursor: pointer;">
					<i class="material-icons">{{route.iconName}}</i>
					<span>{{route.name}}</span>
				</a>
			</li>
		</ul>
	</div>
</aside>
<!-- #END# Left Sidebar -->
