<div class="login-page ls-closed">
	<div class="login-box">
		<div class="logo">
			<a href="javascript:void(0);">Login <b>SPVA</b></a>
			<small>Sistema de Proyección y Validación Académica</small>
		</div>
		<div class="card">
			<div class="body">
				<form id="sign_in" method="POST">
					<div class="msg">Iniciar sesión</div>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="material-icons">person</i>
						</span>
						<div class="form-line">
							<input type="text" class="form-control" name="username" placeholder="DNI o Matrícula" required autofocus>
						</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="material-icons">lock</i>
						</span>
						<div class="form-line">
							<input type="password" class="form-control" name="password" placeholder="Contraseña" required>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-8 p-t-5">
							<input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
							<label for="rememberme">No cerrar</label>
						</div>
						<div class="col-xs-4">
							<button class="btn btn-block bg-pink waves-effect" type="submit">INGRESAR</button>
						</div>
					</div>
					<div class="row m-t-15 m-b--20">
						<div class="col-xs-4">
							<span>&nbsp;</span>
						</div>
						<div class="col-xs-8 align-right">
							<a href="forgot-password.html">Olvidaste la contraseña</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
