<ol class="breadcrumb breadcrumb-col-teal" style="margin: -25px 0 10px 0;">
	<li><a><i class="material-icons">archive</i> Tutor</a></li>
	<li><a><i class="material-icons">attachment</i> {{ 'Grupo ' + seccion }}</a></li>
	<li><a><i class="material-icons">attachment</i> {{ 'Alumno ' + matricula }}</a></li>
	<li class="active" *ngIf="dato == 'cardex'"><i class="material-icons">attachment</i> Cardex</li>
	<li class="active" *ngIf="dato == 'mapa'"><i class="material-icons">attachment</i> Mapa</li>
	<li class="active" *ngIf="dato == 'proyeccion'"><i class="material-icons">attachment</i> Proyección</li>
</ol>
<div class="row clearfix">
	<div class="col-md-12">
		<div class="card">
			<div class="header bg-blue-grey">
				<h2>
					Alumno <small>{{matricula}}</small>
				</h2>
			</div>
			<div class="body">
				<ul class="nav nav-tabs">
					<li [ngClass]="{active: dato==='cardex'}">
						<a data-toggle="tab" (click)="goCardex()" style="cursor: pointer;">Cardex</a>
					</li>
					<li [ngClass]="{active: dato==='mapa'}">
						<a data-toggle="tab" (click)="goMapa()" style="cursor: pointer;">Mapa</a>
					</li>
					<li [ngClass]="{active: dato==='proyeccion'}">
						<a data-toggle="tab" (click)="goProyeccion()" style="cursor: pointer;">Proyeccion</a>
					</li>
				</ul>
				<div *ngIf="dato=='cardex'">
					<div class="tab-pane fade in active">
						<app-cardex
							(goMapa)="goMapa()"
							(goProyeccion)="goProyeccion()"
							[matricula]="matricula"
						></app-cardex>
					</div>
				</div>
				<div class="tab-content" *ngIf="dato=='mapa'" style="overflow: auto;">
					<div class="tab-pane fade in active">
						<app-mapa [matricula]="matricula"></app-mapa>
					</div>
				</div>
				<div class="tab-content" *ngIf="dato=='proyeccion'">
					<div class="tab-pane fade in active">
						<app-proyeccion	[matricula]="matricula"></app-proyeccion>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>